<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-xs-center h1-top">
        <a [routerLink]=" ['/'] ">ng2-handy-syntax-highlighter</a></h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <nav>
        <span>
          <a [routerLink]=" ['/'] ">
            Home
          </a>
        </span>
        <br />
        <span>
          <a [routerLink]=" ['./demo'] ">
            Demo
          </a>
        </span>
      </nav>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
